/*
--------------------
       RESET
--------------------
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/*
--------------------
      COMMON
--------------------
*/
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header, .flexnav, .flexbox{
    display: flex;
}
/*
--------------------
       HEADER
--------------------
*/
header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #000000;
}
a img{
    margin: 27px 10px;
}

.leftnav, .rightnav{
    line-height: 85px;
    width: 33%;
}
.flexnav{
    justify-content: space-between;
}

.right{
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 10px;
}
#start{
    background-color: #0061ff;
    padding: 10px 20px;
    color: #ffffff;
}

/*
--------------------
       MAIN
--------------------
*/
.first-section{
    background-color: #b4d0e7;
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.title-container{
    font-size: 2rem;
    font-weight: 2rem;
    width: 800px;
    margin: auto;
    padding-top: 50px;
}
.first-p{
    height: 400px;
    width: 400px;
    background-color: green;
}
.proposta{
    height: 400px;
    width: 403px;
    background-color: aqua;
    position: relative;
}
.flexbox{
    justify-content: center;
    margin-top: 5%;
}
/*
--------------------
       FOOTER
--------------------
*/