/*
--------------------
       RESET
--------------------
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
--------------------
      COMMON
--------------------
*/
body{
    height: 100vh;
}
/*
--------------------
       HEADER
--------------------
*/

/*
--------------------
       MAIN
--------------------
*/

/*
--------------------
       FOOTER
--------------------
*/